
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.Tsf-movies{
color: white;
padding: 50;
text-decoration: inherit;
font-size: larger;

}

.anime :hover{
  /* animation: animeRotation 1s infinite linear; */
  transform: scale(1);
  color: whitesmoke;
  opacity: 0.5;
  
}

@keyframes animeRotation {
from{
transform: rotate(0deg);

}  
to{
transform: rotate(359deg);

}
}

.bodyCard{
  background-color: rgba(132, 201, 119, 0.973);
  
}

.dark {
  color: rgb(9, 240, 39);
  background-color: black;
}

.light {
  color: black;
  background-color: white;
}
